### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(40)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14

## Player Count

* Display the total number of players

In [2]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
OvrvwData_df = purchase_data.describe()
OvrvwData_df

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Gender Demographics

* Percentage and Count of Male Players
purchase_data["Gender" = "Male"].count()

* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:

CntMale = purchase_data["Gender"].value_counts()['Male']
CntFemale = purchase_data["Gender"].value_counts()['Female']
CntOther = purchase_data["Gender"].value_counts()['Other / Non-Disclosed']
CntTot = CntMale + CntFemale + CntOther
print(
    f" Total: {CntTot}\n Male: {CntMale}\n Female: {CntFemale}\n non_specfic: {CntOther}")
print(" ")
PctMale = (CntMale / CntTot) * 100
PctFemale = (CntFemale / CntTot) * 100
PctOther = (CntOther / CntTot) * 100
print(
    f" % Male: {PctMale}\n % Female: {PctFemale}\n % non_specifc: {PctOther}")

 Total: 780
 Male: 652
 Female: 113
 non_specfic: 15

 % Male: 83.58974358974359
 % Female: 14.487179487179489
 % non_specifc: 1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
OnlyMale = purchase_data.loc[purchase_data["Gender"] == "Male", :] 
SumMale = OnlyMale["Price"].sum()
AveMale = OnlyMale["Price"].mean()
CntMaleSN = len(OnlyMale["SN"].unique())
AvePerMale = SumMale/CntMaleSN
print(
    f" Male Total: {CntMale}\n Male AvePrice: {AveMale}\n Male TotPrice: {SumMale}\n Male AvePerPerson: {AvePerMale}")
print(" ")
OnlyFemale = purchase_data.loc[purchase_data["Gender"] == "Female", :] 
SumFemale = OnlyFemale["Price"].sum()
AveFemale = OnlyFemale["Price"].mean()
CntFemaleSN = len(OnlyFemale["SN"].unique())
AvePerFemale = SumFemale/CntFemaleSN
print(
    f" Female Total: {CntFemale}\n Female AvePrice: {AveFemale}\n Female TotPrice: {SumFemale}\n Female AvePerPerson: {AvePerFemale}")
print(" ")
OnlyOth = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :] 
SumOth = OnlyOth["Price"].sum()
AveOth = OnlyOth["Price"].mean()
CntOthSN = len(OnlyOth["SN"].unique())
AvePerOth = SumOth/CntOthSN
print(
    f" Other Total: {CntOther}\n Other AvePrice: {AveOth}\n Other TotPrice: {SumOth}\n Other AvePerPerson: {AvePerOth}")
print(" ")
# Create a new frame consolodating above calculations

# Creating a Pandas DataFrame by passing in a LIST OF DICTIONARIES
# Each value in the list is a dictionary
# Imagine that each dictionary represents a row of data in our eventual dapurchase count, avg. purchase price, avg. purchase total per persontaframe
# Each dictionary should have the same keys, since these keys dictate the column headers of our dataframe
#                        purchase count, avg. purchase price, avg. purchase total per person
my_list = [{"Gender": "Male", "Purchase Count": CntMale, "Average Price Paid": AveMale, "Average Purchase PerPerson": AvePerMale},
           {"Gender": "Female", "Purchase Count": CntFemale, "Average Price Paid": AveFemale, "Average Purchase PerPerson": AvePerFemale},
           {"Gender": "Other / Non-Disclosed", "Purchase Count": CntOther, "Average Price Paid": AveOth, "Average Purchase PerPerson": AvePerOth}]
ConsolPdDf = pd.DataFrame(my_list)
ConsolPdDf

 Male Total: 652
 Male AvePrice: 3.0178527607361953
 Male TotPrice: 1967.64
 Male AvePerPerson: 4.065371900826446

 Female Total: 113
 Female AvePrice: 3.203008849557519
 Female TotPrice: 361.94
 Female AvePerPerson: 4.468395061728395

 Other Total: 15
 Other AvePrice: 3.3460000000000005
 Other TotPrice: 50.19
 Other AvePerPerson: 4.5627272727272725

,Gender,Purchase Count,Average Price Paid,Average Purchase PerPerson
0,Male,652,3.017853,4.065372
1,Female,113,3.203009,4.468395
2,Other / Non-Disclosed,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Create bins and bin labels for the age column

Age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin the Age column
# cut() returns a Pandas Series containing each of the binned column's values translated into their corresponding bins

#pd.cut(purchase_data["Age"], Age_bins, labels=Age_labels)

# We can append our bins to Aged_df
Aged_df = purchase_data
Aged_df["Level"] = pd.cut(purchase_data["Age"], Age_bins, labels=Age_labels)
#Aged_df
grouped_Aged_df = Aged_df.groupby("Level")
TotByLevel_df = grouped_Aged_df[["Item ID"]].count()
TotByRen_df = TotByLevel_df.rename(columns={"Item ID":"Total Count"})

TotByLvl_df = TotByRen_df
TotByLvl_df["Percentage Of Players"] = (TotByRen_df["Total Count"]/CntTot)

TotByLvl_df["Percentage Of Players"] = (TotByRen_df["Total Count"]/CntTot)
TotByLvl_df.style.format({'Total Count': "{:.0f}",'Percentage Of Players': "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
#    ----------------------from above
# Aged_df
GrpAged_df = Aged_df.groupby("Level")

GrpCntByLvl = GrpAged_df
GrpCntByLvl["Purchase Count"] = GrpAged_df[["Item ID"]].count()
GrpCntByLvla = pd.DataFrame(GrpCntByLvl.drop(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], axis=1))

GrpAveByLvl
GrpAveByLvl["Average Purchase Price"] = GrpAged_df[["Price"]].mean()
GrpAveByLvla = pd.DataFrame(GrpAveByLvl.drop(['Price'], axis=1))

GrpSumByLvl
GrpSumByLvl["Total Purchase Value"] = GrpAged_df[["Price"]].sum()
GrpSumByLvla = pd.DataFrame(GrpSumByLvl.drop(['Price'], axis=1))

#GrpPerPersByLvl["Ave Total Purchase PerPerson"] = len(GrpAged_df('SN').agg(['nunique']))
#GrpPerPersByLvl 

# Merge the four created data frames on the (age)Level
# first the count and ave
merged_df = pd.merge(GrpCntByLvla, GrpAveByLvla, on="Level")

# then the sum
Merged2_df = pd.merge(merged_df, GrpSumByLvla, on="Level")

# finally the PerPerson   '${:.2f}'.format
PurchSummary_df = Merged2_df
#
PurchSummary_df.style.format({'Purchase Count': "{:.0f}",
                              'Average Purchase Price': "${:.2f}",
                              'Total Purchase Value': "${:.2f}"
                             })

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [303]:
#    
# group by the Individual (sn)
GrpSN_df = purchase_data.groupby("SN")

GrpCntBySN["Purchase Count"] = GrpSN_df[["Item ID"]].count()
GrpCntBySNa = pd.DataFrame(GrpCntBySN.drop(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], axis=1))

GrpAveBySN["Average Purchase Price"] = GrpSN_df[["Price"]].mean()
GrpAveBySNa = pd.DataFrame(GrpAveBySN.drop(['Price'], axis=1))

GrpSumBySN["Total Purchase Value"] = GrpSN_df[["Price"]].sum()
GrpSumBySNa = pd.DataFrame(GrpSumBySN.drop(['Price'], axis=1))

# Merge the Three created data frames on the (SN)Individual
# first the count and ave
merged_df = pd.merge(GrpCntBySNa, GrpAveBySNa, on="Level")

# then the sum
Merged2_df = pd.merge(merged_df, GrpSumBySNa, on="Level")
Merged2_df

# finally the PerPerson   '${:.2f}'.format
IndivSummary_df = Merged2_df
#PurchSummary_df
IndivSummary_df.style.format({'Purchase Count': "{:.0f}",
                              'Average Purchase Price': "${:.2f}",
                              'Total Purchase Value': "${:.2f}"
                             })

TypeError: 'DataFrameGroupBy' object does not support item assignment

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80